
<ul class="company" [@initImageAnimation] = 'initState'>
    <li *ngFor="let data of dataList">
        <div class="head">
            {{data?.name}}
        </div>
        <div>
            <label>
                开始时间:
            </label>
            <span>
                {{data?.startTime}}
            </span>
        </div>
        <div>
            <label>
                结束时间:
            </label>
            <span>
                {{data?.endTime}}
            </span>
        </div>
        <div>
            <label>
                所属部门:
            </label>
            <span>
                {{data?.belongTo}}
            </span>
        </div>
        <div>
            <label>
                职位:
            </label>
            <span>
                {{data?.work}}
            </span>
        </div>
        <div class="duty">
            <label>
                职责:
            </label>
            <span>
                {{data?.duty}}
            </span>
        </div>
    </li>
</ul>