.showInfo {
    margin: 10px 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #666666;
}
.showInfo > li{
    padding: 5px 0;
    overflow: hidden;
}

.showInfo > .head{
    color: #333333;
    font-weight: bold;
    text-align: left;
}


.showInfo > li > label{
    display: block;
    width: 25%;
    float: left;
    margin-bottom: -5000px;
    padding-bottom: 5000px;
    color: #999999;
}

.showInfo > li > span{
    display: block;
    width: 69%;
    float: left;
    margin-bottom: -5000px;
    padding-bottom: 5000px;
    color: #666666;
}


