
<ul class="work" [@initImageAnimation] = 'initState'>
    <li *ngFor="let data of dataList">
        <div class="head">
            {{data.name}}
        </div>
        <div>
            <label>
                开始时间:
            </label>
            <span>
                {{data?.startTime}}
            </span>
        </div>
        <div>
            <label>
                结束时间:
            </label>
            <span>
                {{data?.endTime}}
            </span>
        </div>
        <div>
            <label>
                项目描述:
            </label>
            <span>
                {{data?.projectDetail}}
            </span>
        </div>
        <div>
            <label>
                开发工具:
            </label>
            <span>
                {{data?.devTool}}
            </span>
        </div>
        <div>
            <label>
                职责:
            </label>
            <span>
                {{data?.devDuty}}
            </span>
        </div>
        <div>
            <label>
                技术:
            </label>
            <span>
                {{data?.devSkill}}
            </span>
        </div>
        <div *ngIf="data?.devThink">
            <label>
                项目感想:
            </label>
            <span>
                {{data?.devThink}}
            </span>
        </div>
    </li>
</ul>
